OpenWaters/OpenWaters/Web References/gov.epa.cdx/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.epa.gov/wqx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.epa.gov/wqx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows a system to retrieve a list of allowed values for a specific domain within the WQX system.  Lists are formated as XML and zipped up.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.epa.gov/wqx/">
      <s:element name="GetDomainValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainValuesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDomainValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainValues" />
  </wsdl:message>
  <wsdl:message name="GetDomainValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="Domain_x0020_Values_x0020_ServiceSoap">
    <wsdl:operation name="GetDomainValues">
      <wsdl:input message="tns:GetDomainValuesSoapIn" />
      <wsdl:output message="tns:GetDomainValuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Domain_x0020_Values_x0020_ServiceSoap" type="tns:Domain_x0020_Values_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDomainValues">
      <soap:operation soapAction="http://www.epa.gov/wqx/GetDomainValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Domain_x0020_Values_x0020_ServiceSoap12" type="tns:Domain_x0020_Values_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDomainValues">
      <soap12:operation soapAction="http://www.epa.gov/wqx/GetDomainValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Domain_x0020_Values_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows a system to retrieve a list of allowed values for a specific domain within the WQX system.  Lists are formated as XML and zipped up.</wsdl:documentation>
    <wsdl:port name="Domain_x0020_Values_x0020_ServiceSoap" binding="tns:Domain_x0020_Values_x0020_ServiceSoap">
      <soap:address location="http://cdx.epa.gov/WQXWeb/services.asmx" />
    </wsdl:port>
    <wsdl:port name="Domain_x0020_Values_x0020_ServiceSoap12" binding="tns:Domain_x0020_Values_x0020_ServiceSoap12">
      <soap12:address location="http://cdx.epa.gov/WQXWeb/services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>